@import "./../../theme.scss";

.mat-drawer {
    width: 200px;
    color: white;
    background-color:#0E0E0E;
}

.mat-container {
    width: auto;
    height: 800px;
    border: .5px solid snow;
}

.mat-nav-list .mat-list-item {
    color: white;
}

.mat-nav-list a.active {
    color: red;
}

.card-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-column-select {
    overflow: visible;
}

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

h5 {
    color: red;
}

.full-length {
    width: 90%;
}

.filterLabelStyle {
    color: lightgrey;
    border-bottom: 1px dotted lightgrey;
    cursor: pointer;
    text-decoration: none;
}

.text-inside-grid > ::ng-deep figure {
    text-align: left;
    justify-content: flex-start;
    padding-left: 1em;
}

.filter-button {
    background: Gainsboro !important;
    color: black;
}

.filter-button-active {
    background: black;
    color: snow;
}

.letter {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    color: Gainsboro !important;
    cursor: pointer;
}
