<app-header></app-header>

<mat-drawer-container class="mat-container">
  <mat-drawer mode="side" opened="true" role="navigation">
    <mat-nav-list role="list">
      <a mat-list-item routerLink="/list-page" routerLinkActive="active" role="listitem"> Cases </a>
      <a mat-list-item href="#" role="listitem"> Create </a>
      <a mat-list-item href="#" role="listitem"> Admin </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content role="region">
    <div class="card-container">
      <mat-card role="region">
        <mat-card-content role="region">
            <mat-grid-list cols="5" rowHeight="5:1.4">
              <mat-grid-tile class="text-inside-grid">
                <div>
                  <h5>Status</h5>
                  <a class="filterLabelStyle" (click)="showStatusFilters()">{{ statusFilterLabel }}</a>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <a class="filterLabelStyle" (click)="resetFilters()">Reset Filters</a>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3">
                <mat-form-field class="full-length">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="5" class="text-inside-grid">
                <span *ngFor="let filter of showFilterOptions">
                  <button class="btn {{ filter == statusFilterLabel ? 'active' : '' }}" (click)="applyStatusFilter(filter)">{{ filter }}</button> &nbsp;
                </span>
              </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>
    <app-country></app-country>
    <div class="card-container">
      <div class="table-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>
          
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="IMG">
              <mat-header-cell *matHeaderCellDef> IMG </mat-header-cell>
              <mat-cell *matCellDef="let element"> <img src="assets/img/Document-Blank-icon.png" /> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="birthdate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.birthdate | date:'MM/dd/yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Uncomplete </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div *ngIf="element.status=='Complete';then complete else incomplete">here is ignored</div>

                <ng-template #complete><span style="color: green">Complete</span></ng-template>
                <ng-template #incomplete><span style="color:red">Incomplete</span></ng-template>
                
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <button mat-icon-button (click)="openDialog(element)"><mat-icon>edit</mat-icon></button>
              </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
    <div class="card-container">
      <mat-card>
        <mat-card-content>
          <mat-paginator #paginator
              [pageSize]="3"
              [pageSizeOptions]="[3, 7, 12]"
              [showFirstLastButtons]="true">
            </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
